
@using GridMvc.Html
@model IEnumerable<STEnterprise.Models.AssignUserRole>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Assign User Role";

}

<style>
    span.field-validation-error {
        color: red;
    }
</style>



<div class="code-cut">
    <a class="popup btn btn-primary" href="/AssignUserRole/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Assign User Role</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.Username).Titled("User Name").Sortable(true).Filterable(true);
    columns.Add(a => a.RoleName).Titled("Role").Sortable(true).Filterable(true);
    columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);
   
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.UrmId, @class = "btn btn-primary" })).Titled("<span>Edit</span>");
   
}).WithPaging(10).Sortable(true)

</div>

