@{
    ViewBag.Title = "STEnterprise";
}

<div class="jumbotron">
    <h1>ST Enterprise</h1>
    <p class="lead">Welcome to ST Enterprise</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>