
@using GridMvc.Html
@model IEnumerable<STEnterprise.Areas.Admin.Models.ExpenseDetail>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.field-validation-error {
        color: red;
    }
</style>

<div class="code-cut">
    <a class="popup btn btn-primary" href="/Admin/ExpenseDetail/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Expense Detail</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.ExpenseType).Titled("Expense Type").Sortable(true).Filterable(true);    
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.ExpenseDetailId, @class = "btn btn-primary" })).Titled("<span>Edit</span>");
    columns.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.ExpenseDetailId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

</div>
