
@using GridMvc.Html
@model IEnumerable<STEnterprise.Areas.Inventory.Models.Product>


@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    span.field-validation-error {
        color: red;
    }
</style>

<div class="code-cut">
    <a class="popup btn btn-primary" href="/Inventory/Product/Save/0" style="margin-bottom:20px; margin-top:20px;">Add New Product</a>
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add(a => a.ProductName).Titled("Product Name ").Sortable(true).Filterable(true);
    columns.Add(a => a.ProductDescription).Titled("Product Description").Sortable(true).Filterable(true);
    columns.Add(a => a.TotalBag).Titled("Total Bag").Sortable(true).Filterable(true);
    columns.Add(a => a.Stock).Titled("Stock").Sortable(true).Filterable(true);
    columns.Add(a => a.UserStatus).Titled("Status").Sortable(true).Filterable(true);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(a => Html.ActionLink("Edit", "Edit", new { id = a.ProductId, @class = "btn btn-primary" })).Titled("<span>Edit</span>");
    columns.Add()
   .Encoded(false)
   .Sanitized(false)
   .SetWidth(30)
   .RenderValueAs(a => Html.ActionLink("Delete", "Delete", new { id = a.ProductId })).Titled("Delete");
}).WithPaging(10).Sortable(true)

</div>

